In [1]:
import pandas as pd
import numpy as np
import random
import datetime

In [2]:
df=pd.read_csv("src/input/CSV_Data_2022_5_20_19_58.csv")
df.head()

,order_id,customer_id,customer_name,product_id,product_name,product_category,payment_type,qty,price,datetime,country,city,ecommerce_website_name,payment_txn_id,payment_txn_success,failure_reason
0,4141,NaN,Mitchell Harvey,1d01f6c6-113a-42e8-a804-85ca39793de2,Shoes,NaN,NaN,5895,NaN,Mon Sep 27 2021 00:11:29 GMT-0500 (Central Day...,Ecuador,West Guyton,rosemarie.biz,24425507,NaN,NaN
1,3287,NaN,Brandi Lueilwitz,2bcaa48d-31e5-499c-a372-ea67118c890b,Table,NaN,NaN,3530,NaN,Fri Aug 06 2021 16:52:04 GMT-0500 (Central Day...,Holy See (Vatican City State),Nienowchester,garrett.org,95338214,NaN,NaN
2,811,NaN,Ms. Deon Wilderman,b87344e3-b617-4aec-aecb-cdd9c98ebfa5,Ball,NaN,NaN,7792,NaN,Tue May 25 2021 04:21:18 GMT-0500 (Central Day...,Bangladesh,Stanleytown,jairo.info,92096719,NaN,NaN
3,8936,NaN,Esteban Gutmann,87a40b79-f9cc-4ec8-b555-2ed4ec4d53ec,Bacon,NaN,NaN,9714,NaN,Fri May 20 2022 05:35:37 GMT-0500 (Central Day...,Colombia,New Zander,seth.biz,88176651,NaN,NaN
4,3294,NaN,Joe Mayer,5d3424a1-bee4-447e-9ffb-b9bc3452542e,Shirt,NaN,NaN,950,NaN,Sun May 30 2021 13:17:42 GMT-0500 (Central Day...,Spain,Wehnerville,cloyd.name,48949791,NaN,NaN

In [3]:
orders = range(0,10000)
orders = list(orders)

In [4]:
df2 = df

df2['order_id'] = orders

In [5]:
df2.head()

,order_id,customer_id,customer_name,product_id,product_name,product_category,payment_type,qty,price,datetime,country,city,ecommerce_website_name,payment_txn_id,payment_txn_success,failure_reason
0,0,NaN,Mitchell Harvey,1d01f6c6-113a-42e8-a804-85ca39793de2,Shoes,NaN,NaN,5895,NaN,Mon Sep 27 2021 00:11:29 GMT-0500 (Central Day...,Ecuador,West Guyton,rosemarie.biz,24425507,NaN,NaN
1,1,NaN,Brandi Lueilwitz,2bcaa48d-31e5-499c-a372-ea67118c890b,Table,NaN,NaN,3530,NaN,Fri Aug 06 2021 16:52:04 GMT-0500 (Central Day...,Holy See (Vatican City State),Nienowchester,garrett.org,95338214,NaN,NaN
2,2,NaN,Ms. Deon Wilderman,b87344e3-b617-4aec-aecb-cdd9c98ebfa5,Ball,NaN,NaN,7792,NaN,Tue May 25 2021 04:21:18 GMT-0500 (Central Day...,Bangladesh,Stanleytown,jairo.info,92096719,NaN,NaN
3,3,NaN,Esteban Gutmann,87a40b79-f9cc-4ec8-b555-2ed4ec4d53ec,Bacon,NaN,NaN,9714,NaN,Fri May 20 2022 05:35:37 GMT-0500 (Central Day...,Colombia,New Zander,seth.biz,88176651,NaN,NaN
4,4,NaN,Joe Mayer,5d3424a1-bee4-447e-9ffb-b9bc3452542e,Shirt,NaN,NaN,950,NaN,Sun May 30 2021 13:17:42 GMT-0500 (Central Day...,Spain,Wehnerville,cloyd.name,48949791,NaN,NaN

In [6]:
txn = ['Y', 'N']

def addRandom():
    df2["payment_txn_success"] = [random.choice(txn) for order_id in df.order_id]
    
addRandom()


df2.head(10)

,order_id,customer_id,customer_name,product_id,product_name,product_category,payment_type,qty,price,datetime,country,city,ecommerce_website_name,payment_txn_id,payment_txn_success,failure_reason
0,0,NaN,Mitchell Harvey,1d01f6c6-113a-42e8-a804-85ca39793de2,Shoes,NaN,NaN,5895,NaN,Mon Sep 27 2021 00:11:29 GMT-0500 (Central Day...,Ecuador,West Guyton,rosemarie.biz,24425507,N,NaN
1,1,NaN,Brandi Lueilwitz,2bcaa48d-31e5-499c-a372-ea67118c890b,Table,NaN,NaN,3530,NaN,Fri Aug 06 2021 16:52:04 GMT-0500 (Central Day...,Holy See (Vatican City State),Nienowchester,garrett.org,95338214,Y,NaN
2,2,NaN,Ms. Deon Wilderman,b87344e3-b617-4aec-aecb-cdd9c98ebfa5,Ball,NaN,NaN,7792,NaN,Tue May 25 2021 04:21:18 GMT-0500 (Central Day...,Bangladesh,Stanleytown,jairo.info,92096719,Y,NaN
3,3,NaN,Esteban Gutmann,87a40b79-f9cc-4ec8-b555-2ed4ec4d53ec,Bacon,NaN,NaN,9714,NaN,Fri May 20 2022 05:35:37 GMT-0500 (Central Day...,Colombia,New Zander,seth.biz,88176651,N,NaN
4,4,NaN,Joe Mayer,5d3424a1-bee4-447e-9ffb-b9bc3452542e,Shirt,NaN,NaN,950,NaN,Sun May 30 2021 13:17:42 GMT-0500 (Central Day...,Spain,Wehnerville,cloyd.name,48949791,N,NaN
5,5,NaN,Ephraim Kuhic,1cd6552c-8dab-4dc9-b78b-dfc1bb2e945a,Table,NaN,NaN,7839,NaN,Sun Mar 06 2022 09:20:52 GMT-0600 (Central Sta...,Cape Verde,Pfefferstad,casey.info,86444051,N,NaN
6,6,NaN,Cleora Kulas,58826e58-8a7f-499b-8f39-e187326df25b,Fish,NaN,NaN,3223,NaN,Sun Feb 20 2022 14:38:31 GMT-0600 (Central Sta...,Saint Kitts and Nevis,South Estrella,filomena.biz,78182332,Y,NaN
7,7,NaN,Elisha Corkery,673fc2aa-7e76-4817-8c20-d826d6579bcf,Computer,NaN,NaN,8027,NaN,Tue Oct 26 2021 15:42:54 GMT-0500 (Central Day...,Czech Republic,Harberberg,destiny.name,57922873,Y,NaN
8,8,NaN,Chanel Mayer,20060c1c-8e08-434c-9f09-306948993960,Pants,NaN,NaN,3529,NaN,Fri Nov 05 2021 16:57:43 GMT-0500 (Central Day...,Cote d'Ivoire,Katrinaview,arturo.net,45015345,Y,NaN
9,9,NaN,Tremaine Johns PhD,d83fc081-674e-48d7-8087-fcb5d14cd937,Fish,NaN,NaN,1454,NaN,Thu Sep 30 2021 14:58:53 GMT-0500 (Central Day...,Guinea-Bissau,East Fayetown,twila.biz,8940667,Y,NaN

In [7]:
ptype = ['card', 'online_banking', 'upi', 'wallet']

def addRandom2():
    df2["payment_type"] = [random.choice(ptype) for order_id in df.order_id]
    
addRandom2()


df2.head(10)

,order_id,customer_id,customer_name,product_id,product_name,product_category,payment_type,qty,price,datetime,country,city,ecommerce_website_name,payment_txn_id,payment_txn_success,failure_reason
0,0,NaN,Mitchell Harvey,1d01f6c6-113a-42e8-a804-85ca39793de2,Shoes,NaN,online_banking,5895,NaN,Mon Sep 27 2021 00:11:29 GMT-0500 (Central Day...,Ecuador,West Guyton,rosemarie.biz,24425507,N,NaN
1,1,NaN,Brandi Lueilwitz,2bcaa48d-31e5-499c-a372-ea67118c890b,Table,NaN,upi,3530,NaN,Fri Aug 06 2021 16:52:04 GMT-0500 (Central Day...,Holy See (Vatican City State),Nienowchester,garrett.org,95338214,Y,NaN
2,2,NaN,Ms. Deon Wilderman,b87344e3-b617-4aec-aecb-cdd9c98ebfa5,Ball,NaN,upi,7792,NaN,Tue May 25 2021 04:21:18 GMT-0500 (Central Day...,Bangladesh,Stanleytown,jairo.info,92096719,Y,NaN
3,3,NaN,Esteban Gutmann,87a40b79-f9cc-4ec8-b555-2ed4ec4d53ec,Bacon,NaN,online_banking,9714,NaN,Fri May 20 2022 05:35:37 GMT-0500 (Central Day...,Colombia,New Zander,seth.biz,88176651,N,NaN
4,4,NaN,Joe Mayer,5d3424a1-bee4-447e-9ffb-b9bc3452542e,Shirt,NaN,online_banking,950,NaN,Sun May 30 2021 13:17:42 GMT-0500 (Central Day...,Spain,Wehnerville,cloyd.name,48949791,N,NaN
5,5,NaN,Ephraim Kuhic,1cd6552c-8dab-4dc9-b78b-dfc1bb2e945a,Table,NaN,card,7839,NaN,Sun Mar 06 2022 09:20:52 GMT-0600 (Central Sta...,Cape Verde,Pfefferstad,casey.info,86444051,N,NaN
6,6,NaN,Cleora Kulas,58826e58-8a7f-499b-8f39-e187326df25b,Fish,NaN,card,3223,NaN,Sun Feb 20 2022 14:38:31 GMT-0600 (Central Sta...,Saint Kitts and Nevis,South Estrella,filomena.biz,78182332,Y,NaN
7,7,NaN,Elisha Corkery,673fc2aa-7e76-4817-8c20-d826d6579bcf,Computer,NaN,wallet,8027,NaN,Tue Oct 26 2021 15:42:54 GMT-0500 (Central Day...,Czech Republic,Harberberg,destiny.name,57922873,Y,NaN
8,8,NaN,Chanel Mayer,20060c1c-8e08-434c-9f09-306948993960,Pants,NaN,upi,3529,NaN,Fri Nov 05 2021 16:57:43 GMT-0500 (Central Day...,Cote d'Ivoire,Katrinaview,arturo.net,45015345,Y,NaN
9,9,NaN,Tremaine Johns PhD,d83fc081-674e-48d7-8087-fcb5d14cd937,Fish,NaN,upi,1454,NaN,Thu Sep 30 2021 14:58:53 GMT-0500 (Central Day...,Guinea-Bissau,East Fayetown,twila.biz,8940667,Y,NaN

In [8]:
df2['product_name'].unique()

array(['Shoes', 'Table', 'Ball', 'Bacon', 'Shirt', 'Fish', 'Computer',
       'Pants', 'Chicken', 'Sausages', 'Gloves', 'Chips', 'Towels',
       'Cheese', 'Salad', 'Car', 'Mouse', 'Chair', 'Keyboard', 'Soap',
       'Bike', 'Tuna', 'Hat', 'Pizza'], dtype=object)

In [9]:
cats = {
    'Shoes': 'A',
    'Table': 'A',
    'Ball': 'A', 
    'Bacon': 'A',
    'Shirt': 'B',
    'Fish': 'B',
    'Computer': 'B',
    'Pants': 'B',
    'Chicken': 'C',
    'Sausages': 'C',
    'Gloves': 'C', 
    'Chips' : 'C',
    'Towels': 'D',
    'Cheese': 'D',
    'Salad': 'D',
    'Car' : 'D',
    'Mouse': 'E',
    'Chair': 'E',
    'Keyboard': 'E',
    'Soap' : 'E',
    'Bike': 'F',
    'Tuna': 'F',
    'Hat': 'F',
    'Pizza' : 'F'
}

#def addRandom2():
#    df2["payment_type"] = [cats[i] for i in df.order_id]
    
#addRandom2()

df2["product_category"] = [cats[i] for i in df.product_name]
df2["product_category"]

0       A
1       A
2       A
3       A
4       B
       ..
9995    E
9996    F
9997    B
9998    D
9999    F
Name: product_category, Length: 10000, dtype: object

In [10]:
df2

,order_id,customer_id,customer_name,product_id,product_name,product_category,payment_type,qty,price,datetime,country,city,ecommerce_website_name,payment_txn_id,payment_txn_success,failure_reason
0,0,NaN,Mitchell Harvey,1d01f6c6-113a-42e8-a804-85ca39793de2,Shoes,A,online_banking,5895,NaN,Mon Sep 27 2021 00:11:29 GMT-0500 (Central Day...,Ecuador,West Guyton,rosemarie.biz,24425507,N,NaN
1,1,NaN,Brandi Lueilwitz,2bcaa48d-31e5-499c-a372-ea67118c890b,Table,A,upi,3530,NaN,Fri Aug 06 2021 16:52:04 GMT-0500 (Central Day...,Holy See (Vatican City State),Nienowchester,garrett.org,95338214,Y,NaN
2,2,NaN,Ms. Deon Wilderman,b87344e3-b617-4aec-aecb-cdd9c98ebfa5,Ball,A,upi,7792,NaN,Tue May 25 2021 04:21:18 GMT-0500 (Central Day...,Bangladesh,Stanleytown,jairo.info,92096719,Y,NaN
3,3,NaN,Esteban Gutmann,87a40b79-f9cc-4ec8-b555-2ed4ec4d53ec,Bacon,A,online_banking,9714,NaN,Fri May 20 2022 05:35:37 GMT-0500 (Central Day...,Colombia,New Zander,seth.biz,88176651,N,NaN
4,4,NaN,Joe Mayer,5d3424a1-bee4-447e-9ffb-b9bc3452542e,Shirt,B,online_banking,950,NaN,Sun May 30 2021 13:17:42 GMT-0500 (Central Day...,Spain,Wehnerville,cloyd.name,48949791,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,NaN,Margot Wisozk,4cece444-44bb-4b2a-96e6-0fc5f17e2b3c,Mouse,E,upi,614,NaN,Tue Sep 21 2021 03:59:54 GMT-0500 (Central Day...,Mongolia,West Christian,layla.net,68383903,N,NaN
9996,9996,NaN,Efrain Blick,c780a462-5f74-4868-a038-ad9e33bd314b,Bike,F,card,9385,NaN,Thu Nov 04 2021 13:32:16 GMT-0500 (Central Day...,Costa Rica,Port Caitlynland,edmond.org,25536753,N,NaN
9997,9997,NaN,Christina Feeney,f6a2b6e0-b8ef-4781-88a7-33afe9da4175,Pants,B,wallet,4525,NaN,Sun Feb 13 2022 20:54:42 GMT-0600 (Central Sta...,Botswana,South Kademouth,devonte.name,7582810,N,NaN
9998,9998,NaN,Jace Russel,dea6400f-db39-48fe-b70d-69a8faf40313,Towels,D,upi,4806,NaN,Tue May 17 2022 08:48:27 GMT-0500 (Central Day...,Belgium,Jarrellmouth,gonzalo.net,66441840,Y,NaN
9999,9999,NaN,Ms. Destin Bradtke,75e30f47-3b17-459a-9e76-19d696de3016,Pizza,F,upi,4493,NaN,Sun Aug 01 2021 16:41:40 GMT-0500 (Central Day...,Guernsey,Dickibury,nedra.biz,69701398,N,NaN

In [11]:
reasons = ['insufficient_funds', 'wrong_info', 'suspicious_txn']
    
df2["failure_reason"] = ["NA" if x == "Y" else random.choice(reasons) for x in df2.payment_txn_success]
df2.head(10)

,order_id,customer_id,customer_name,product_id,product_name,product_category,payment_type,qty,price,datetime,country,city,ecommerce_website_name,payment_txn_id,payment_txn_success,failure_reason
0,0,NaN,Mitchell Harvey,1d01f6c6-113a-42e8-a804-85ca39793de2,Shoes,A,online_banking,5895,NaN,Mon Sep 27 2021 00:11:29 GMT-0500 (Central Day...,Ecuador,West Guyton,rosemarie.biz,24425507,N,suspicious_txn
1,1,NaN,Brandi Lueilwitz,2bcaa48d-31e5-499c-a372-ea67118c890b,Table,A,upi,3530,NaN,Fri Aug 06 2021 16:52:04 GMT-0500 (Central Day...,Holy See (Vatican City State),Nienowchester,garrett.org,95338214,Y,NA
2,2,NaN,Ms. Deon Wilderman,b87344e3-b617-4aec-aecb-cdd9c98ebfa5,Ball,A,upi,7792,NaN,Tue May 25 2021 04:21:18 GMT-0500 (Central Day...,Bangladesh,Stanleytown,jairo.info,92096719,Y,NA
3,3,NaN,Esteban Gutmann,87a40b79-f9cc-4ec8-b555-2ed4ec4d53ec,Bacon,A,online_banking,9714,NaN,Fri May 20 2022 05:35:37 GMT-0500 (Central Day...,Colombia,New Zander,seth.biz,88176651,N,suspicious_txn
4,4,NaN,Joe Mayer,5d3424a1-bee4-447e-9ffb-b9bc3452542e,Shirt,B,online_banking,950,NaN,Sun May 30 2021 13:17:42 GMT-0500 (Central Day...,Spain,Wehnerville,cloyd.name,48949791,N,wrong_info
5,5,NaN,Ephraim Kuhic,1cd6552c-8dab-4dc9-b78b-dfc1bb2e945a,Table,A,card,7839,NaN,Sun Mar 06 2022 09:20:52 GMT-0600 (Central Sta...,Cape Verde,Pfefferstad,casey.info,86444051,N,insufficient_funds
6,6,NaN,Cleora Kulas,58826e58-8a7f-499b-8f39-e187326df25b,Fish,B,card,3223,NaN,Sun Feb 20 2022 14:38:31 GMT-0600 (Central Sta...,Saint Kitts and Nevis,South Estrella,filomena.biz,78182332,Y,NA
7,7,NaN,Elisha Corkery,673fc2aa-7e76-4817-8c20-d826d6579bcf,Computer,B,wallet,8027,NaN,Tue Oct 26 2021 15:42:54 GMT-0500 (Central Day...,Czech Republic,Harberberg,destiny.name,57922873,Y,NA
8,8,NaN,Chanel Mayer,20060c1c-8e08-434c-9f09-306948993960,Pants,B,upi,3529,NaN,Fri Nov 05 2021 16:57:43 GMT-0500 (Central Day...,Cote d'Ivoire,Katrinaview,arturo.net,45015345,Y,NA
9,9,NaN,Tremaine Johns PhD,d83fc081-674e-48d7-8087-fcb5d14cd937,Fish,B,upi,1454,NaN,Thu Sep 30 2021 14:58:53 GMT-0500 (Central Day...,Guinea-Bissau,East Fayetown,twila.biz,8940667,Y,NA

In [13]:
serials = {
    'Shoes': 'S001',
    'Sausages': 'S002',
    'Shirt': 'S003',
    'Salad': 'S004',
    'Soap' : 'S005',
    'Ball': 'B001', 
    'Bacon': 'B002',
    'Bike': 'B003',
    'Fish': 'F001',
    'Pants': 'P001',
    'Pizza' : 'P002',
    'Chicken': 'C001',
    'Chips' : 'C002',
    'Cheese': 'C003',
    'Computer': 'C004',
    'Car' : 'C005',
    'Chair': 'C006',
    'Gloves': 'G001', 
    'Towels': 'T001',
    'Table': 'T002',
    'Tuna': 'T003',
    'Mouse': 'M001',
    'Keyboard': 'K001',
    'Hat': 'H001',

}

df2['product_id'] = [serials[i] for i in df.product_name]
df2.head()

,order_id,customer_id,customer_name,product_id,product_name,product_category,payment_type,qty,price,datetime,country,city,ecommerce_website_name,payment_txn_id,payment_txn_success,failure_reason
0,0,NaN,Mitchell Harvey,S001,Shoes,A,online_banking,5895,NaN,Mon Sep 27 2021 00:11:29 GMT-0500 (Central Day...,Ecuador,West Guyton,rosemarie.biz,1d01f6c6-113a-42e8-a804-85ca39793de2,N,suspicious_txn
1,1,NaN,Brandi Lueilwitz,T002,Table,A,upi,3530,NaN,Fri Aug 06 2021 16:52:04 GMT-0500 (Central Day...,Holy See (Vatican City State),Nienowchester,garrett.org,2bcaa48d-31e5-499c-a372-ea67118c890b,Y,NA
2,2,NaN,Ms. Deon Wilderman,B001,Ball,A,upi,7792,NaN,Tue May 25 2021 04:21:18 GMT-0500 (Central Day...,Bangladesh,Stanleytown,jairo.info,b87344e3-b617-4aec-aecb-cdd9c98ebfa5,Y,NA
3,3,NaN,Esteban Gutmann,B002,Bacon,A,online_banking,9714,NaN,Fri May 20 2022 05:35:37 GMT-0500 (Central Day...,Colombia,New Zander,seth.biz,87a40b79-f9cc-4ec8-b555-2ed4ec4d53ec,N,suspicious_txn
4,4,NaN,Joe Mayer,S003,Shirt,B,online_banking,950,NaN,Sun May 30 2021 13:17:42 GMT-0500 (Central Day...,Spain,Wehnerville,cloyd.name,5d3424a1-bee4-447e-9ffb-b9bc3452542e,N,wrong_info

In [26]:
start_date = datetime.date(2020, 1, 1)

end_date = datetime.date(2020, 2, 1)


time_between_dates = end_date - start_date

days_between_dates = time_between_dates.days

random_number_of_days = random.randrange(days_between_dates)

random_date = start_date + datetime.timedelta(days=random_number_of_days)


print(random_date)

2020-01-20

In [27]:
df2

,order_id,customer_id,customer_name,product_id,product_name,product_category,payment_type,qty,price,datetime,country,city,ecommerce_website_name,payment_txn_id,payment_txn_success,failure_reason
0,0,NaN,Mitchell Harvey,S001,Shoes,A,online_banking,5895,NaN,2022-01-01,Ecuador,West Guyton,rosemarie.biz,1d01f6c6-113a-42e8-a804-85ca39793de2,N,suspicious_txn
1,1,NaN,Brandi Lueilwitz,T002,Table,A,upi,3530,NaN,2022-01-02,Holy See (Vatican City State),Nienowchester,garrett.org,2bcaa48d-31e5-499c-a372-ea67118c890b,Y,NA
2,2,NaN,Ms. Deon Wilderman,B001,Ball,A,upi,7792,NaN,2022-01-03,Bangladesh,Stanleytown,jairo.info,b87344e3-b617-4aec-aecb-cdd9c98ebfa5,Y,NA
3,3,NaN,Esteban Gutmann,B002,Bacon,A,online_banking,9714,NaN,2022-01-04,Colombia,New Zander,seth.biz,87a40b79-f9cc-4ec8-b555-2ed4ec4d53ec,N,suspicious_txn
4,4,NaN,Joe Mayer,S003,Shirt,B,online_banking,950,NaN,2022-01-05,Spain,Wehnerville,cloyd.name,5d3424a1-bee4-447e-9ffb-b9bc3452542e,N,wrong_info
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,NaN,Margot Wisozk,M001,Mouse,E,upi,614,NaN,2022-05-21,Mongolia,West Christian,layla.net,4cece444-44bb-4b2a-96e6-0fc5f17e2b3c,N,suspicious_txn
9996,9996,NaN,Efrain Blick,B003,Bike,F,card,9385,NaN,2022-05-22,Costa Rica,Port Caitlynland,edmond.org,c780a462-5f74-4868-a038-ad9e33bd314b,N,insufficient_funds
9997,9997,NaN,Christina Feeney,P001,Pants,B,wallet,4525,NaN,2022-05-23,Botswana,South Kademouth,devonte.name,f6a2b6e0-b8ef-4781-88a7-33afe9da4175,N,wrong_info
9998,9998,NaN,Jace Russel,T001,Towels,D,upi,4806,NaN,2022-05-24,Belgium,Jarrellmouth,gonzalo.net,dea6400f-db39-48fe-b70d-69a8faf40313,Y,NA
9999,9999,NaN,Ms. Destin Bradtke,P002,Pizza,F,upi,4493,NaN,2022-05-25,Guernsey,Dickibury,nedra.biz,75e30f47-3b17-459a-9e76-19d696de3016,N,suspicious_txn

In [55]:

                     
mylist = [random.choice(range(1000,100000))/10 for x in df2['order_id']]


df2['price'] = mylist
df2['price']

0       5349.2
1       8399.6
2       9570.0
3       4117.7
4       4886.2
         ...
9995     165.0
9996    2256.1
9997    2459.1
9998    4409.6
9999    1387.5
Name: price, Length: 10000, dtype: float64

In [56]:
df2.head()

,order_id,customer_id,customer_name,product_id,product_name,product_category,payment_type,qty,price,datetime,country,city,ecommerce_website_name,payment_txn_id,payment_txn_success,failure_reason
0,0,NaN,Mitchell Harvey,S001,Shoes,A,online_banking,5895,5349.2,2022-01-01,Ecuador,West Guyton,rosemarie.biz,1d01f6c6-113a-42e8-a804-85ca39793de2,N,suspicious_txn
1,1,NaN,Brandi Lueilwitz,T002,Table,A,upi,3530,8399.6,2022-01-02,Holy See (Vatican City State),Nienowchester,garrett.org,2bcaa48d-31e5-499c-a372-ea67118c890b,Y,NA
2,2,NaN,Ms. Deon Wilderman,B001,Ball,A,upi,7792,9570.0,2022-01-03,Bangladesh,Stanleytown,jairo.info,b87344e3-b617-4aec-aecb-cdd9c98ebfa5,Y,NA
3,3,NaN,Esteban Gutmann,B002,Bacon,A,online_banking,9714,4117.7,2022-01-04,Colombia,New Zander,seth.biz,87a40b79-f9cc-4ec8-b555-2ed4ec4d53ec,N,suspicious_txn
4,4,NaN,Joe Mayer,S003,Shirt,B,online_banking,950,4886.2,2022-01-05,Spain,Wehnerville,cloyd.name,5d3424a1-bee4-447e-9ffb-b9bc3452542e,N,wrong_info

In [68]:
testing = df2['customer_name'][3]

ids = []

for i in range(0,len(df2['customer_name'])):
    myrow = df2.iloc[i]
    ids.append(''.join([c for c in myrow[2] if c.isupper()]))
    ids[i] = ids[i]+myrow[3]
    
ids

#test2 = ''.join([c for c in testing if c.isupper()])

#test2

['MHS001',
 'BLT002',
 'MDWB001',
 'EGB002',
 'JMS003',
 'EKT002',
 'CKF001',
 'ECC004',
 'CMP001',
 'TJPDF001',
 'MJJC001',
 'CRB002',
 'DKS002',
 'OHC001',
 'ATG001',
 'DATF001',
 'GBT002',
 'EOF001',
 'KAS001',
 'EHC002',
 'JTT002',
 'GNT001',
 'DSC003',
 'CMG001',
 'EWC001',
 'JMP001',
 'LKC004',
 'ASS002',
 'ATS003',
 'HPS004',
 'CAMDT002',
 'MHC005',
 'KBS004',
 'KMS003',
 'GWG001',
 'RCP001',
 'MAJF001',
 'FFC004',
 'TCT002',
 'ARG001',
 'VBB001',
 'STC004',
 'BSS001',
 'JWM001',
 'APC005',
 'RDF001',
 'MGC006',
 'EBS002',
 'EDC003',
 'CZM001',
 'RJT002',
 'LGS001',
 'GWS004',
 'TRK001',
 'AKC006',
 'MGGC001',
 'MTM001',
 'SHC004',
 'KLM001',
 'RFS005',
 'WHT002',
 'AHC002',
 'WKF001',
 'EHC002',
 'GBJB003',
 'SHF001',
 'EKB002',
 'RST002',
 'EORC001',
 'MKLC003',
 'MHRS001',
 'GMKB001',
 'EBS004',
 'DKP001',
 'LMVM001',
 'CPIIM001',
 'CBB001',
 'MLAC006',
 'BBC006',
 'TLC003',
 'JHS001',
 'MEWB002',
 'MTKC001',
 'IAM001',
 'EDDVMC004',
 'LKC004',
 'SDVK001',
 'TGT003',
 'SDM001',
 'CSH001',
 'THS004',
 'ALJP002',
 'NMH001',
 'CFH001',
 'JWC004',
 'ADPDB001',
 'TWIVC002',
 'GST002',
 'DFS001',
 'JBG001',
 'WRIC003',
 'EORG001',
 'ABSP002',
 'MFBB003',
 'JPC001',
 'SNS001',
 'KRP002',
 'DHB002',
 'JBB001',
 'MMHC005',
 'DPB003',
 'TKDDSS004',
 'ABP002',
 'IBM001',
 'RHS002',
 'NMT003',
 'WET003',
 'KBK001',
 'SCT003',
 'CNT003',
 'BMP002',
 'BDB002',
 'JMT003',
 'SMCS002',
 'JMCC004',
 'KGH001',
 'ALP002',
 'KAC003',
 'PMS004',
 'FHT001',
 'DJS003',
 'CWC004',
 'GAP002',
 'AWF001',
 'CDT002',
 'MCB003',
 'CRJC002',
 'GCF001',
 'MKLC005',
 'CKS001',
 'AWC003',
 'EMDH001',
 'KCC002',
 'RKS002',
 'RSP001',
 'HGB001',
 'DWIVC004',
 'MCP002',
 'KWIT001',
 'LDC005',
 'VKT002',
 'IPP002',
 'CSJT003',
 'MDCT002',
 'NCS003',
 'BDT002',
 'MRVT003',
 'NKC005',
 'LJT001',
 'LHC003',
 'FDC001',
 'DCH001',
 'LHT002',
 'SHH001',
 'CRC006',
 'MWCG001',
 'JEP001',
 'VGS001',
 'BWS002',
 'AWP001',
 'KHC004',
 'KCC001',
 'WLS001',
 'NHH001',
 'MRS004',
 'CSC003',
 'APT003',
 'HHB001',
 'KSB003',
 'MDWC005',
 'MWC003',
 'BMT001',
 'GLP001',
 'RSDVMK001',
 'DCF001',
 'IHC006',
 'MBHP001',
 'LEB003',
 'SHB001',
 'MPDDSK001',
 'GHB003',
 'PFC003',
 'MMB001',
 'NCH001',
 'KKM001',
 'AKS002',
 'ATS001',
 'SSC006',
 'SHB003',
 'ESSM001',
 'IPF001',
 'APIVC003',
 'IWS004',
 'GKM001',
 'PMB003',
 'EOF001',
 'DCT002',
 'WCS005',
 'JHM001',
 'NHP001',
 'PMDC003',
 'BWC002',
 'JYK001',
 'LNS002',
 'JKP001',
 'DSS004',
 'AHC005',
 'CKC005',
 'MBDC006',
 'PSS002',
 'CKDVMP002',
 'SKB003',
 'AST002',
 'MPH001',
 'EAIIM001',
 'MCKT002',
 'DBWT002',
 'MKC003',
 'ASS004',
 'BRC006',
 'DMGB001',
 'MFH001',
 'LHH001',
 'HKS003',
 'NHC002',
 'MJFM001',
 'NSB003',
 'MHIS005',
 'MMHG001',
 'CCVC001',
 'MCM001',
 'EHF001',
 'ASB001',
 'SHK001',
 'YLC001',
 'MGS001',
 'TCH001',
 'EZC003',
 'ACP002',
 'MGC001',
 'AKB003',
 'LWT001',
 'SHF001',
 'HAIIIC005',
 'JVB003',
 'GLJP002',
 'CBC005',
 'FTS002',
 'SMT002',
 'BRP001',
 'HBS001',
 'MSBS003',
 'TRC005',
 'ANP001',
 'AFP002',
 'AKK001',
 'MWC004',
 'EMK001',
 'RMT003',
 'RLF001',
 'BWT001',
 'DBC003',
 'VJG001',
 'LMT003',
 'SAC005',
 'FKF001',
 'WSS002',
 'AHB001',
 'DWMGC001',
 'CSB001',
 'ERB003',
 'EKC003',
 'JGT001',
 'PPVC002',
 'KSC002',
 'EHC006',
 'ANP001',
 'ESC002',
 'CSP001',
 'CRH001',
 'CCS001',
 'MYTT003',
 'DLS005',
 'APT002',
 'SRJT003',
 'LJS004',
 'ASF001',
 'TOS001',
 'DLS002',
 'CHC005',
 'OBS005',
 'BOCM001',
 'OPMDB003',
 'NFT003',
 'HLF001',
 'ASIS004',
 'KWH001',
 'SSS001',
 'MRC001',
 'ELSS003',
 'BSDDSS003',
 'EHM001',
 'OST003',
 'PLC006',
 'MWB002',
 'SOB001',
 'MAP001',
 'KSC003',
 'HMCS005',
 'LAS004',
 'MBC003',
 'LTS001',
 'KJF001',
 'NHC004',
 'GNC006',
 'ADAC001',
 'DRT003',
 'NRS004',
 'KSS005',
 'DCST002',
 'EWS003',
 'DBC005',
 'ASS003',
 'CHC001',
 'MZFS005',
 'CSC005',
 'EBC001',
 'EHSS002',
 'GPT002',
 'CWC003',
 'MMWB002',
 'EWP001',
 'MGC001',
 'GOT001',
 'THS003',
 'DDSP001',
 'LGT001',
 'GRS005',
 'RSH001',
 'TSH001',
 'KRS004',
 'AWC002',
 'DSM001',
 'MBSC004',
 'KMS005',
 'ABT003',
 'OAT001',
 'MASM001',
 'DDS005',
 'ORS002',
 'MNTS002',
 'JKF001',
 'CGC002',
 'DSGP002',
 'LCP002',
 'MLS001',
 'JKMDP001',
 'IWC003',
 'VSC002',
 'CMT002',
 'GKC006',
 'ESIIIP001',
 'SBS003',
 'BTK001',
 'DHM001',
 'MGWH001',
 'MTH001',
 'JSC005',
 'FHC001',
 'NLB002',
 'MAKB003',
 'DMAC001',
 'LTC004',
 'OHC006',
 'ASC002',
 'DHC004',
 'FCG001',
 'MMBP002',
 'CCS001',
 'MLP001',
 'CJC002',
 'LSB002',
 'JKC005',
 'KSF001',
 'JBB003',
 'MCBK001',
 'RBB003',
 'UFT002',
 'TZM001',
 'LRB002',
 'BMP001',
 'MPS005',
 'HRS004',
 'WCP001',
 'CKIM001',
 'JSS001',
 'OBH001',
 'ALK001',
 'AHT003',
 'ZCPDC002',
 'THC001',
 'HHK001',
 'JVC003',
 'LGS002',
 'DTC005',
 'RMS004',
 'MSS005',
 'CEP001',
 'DNFT002',
 'MKP001',
 'MKC001',
 'DMHS003',
 'MNFT003',
 'MRWM001',
 'ABS001',
 'ERIIIG001',
 'AMGB001',
 'VHB003',
 'DYC006',
 'GBC004',
 'MJVH001',
 'BKC006',
 'MGC005',
 'FKS005',
 'CHB001',
 'RFT003',
 'EBS002',
 'RORS001',
 'AWC005',
 'DMRS004',
 'ACS004',
 'TKT003',
 'WBC005',
 'LWT002',
 'AWC005',
 'EBC002',
 'RLC001',
 'EDK001',
 'ALF001',
 'DKT003',
 'MCC005',
 'EBC001',
 'LGP001',
 'CSS004',
 'KFMDC006',
 'LTS003',
 'SOS002',
 'NGPDS001',
 'RSS002',
 'JRS001',
 'APC006',
 'KSS004',
 'DMS003',
 'MQWB002',
 'BGC006',
 'EBT001',
 'MVF001',
 'AFT001',
 'MBC006',
 'GMC001',
 'KHS001',
 'OCP002',
 'MRBC001',
 'AGM001',
 'CBH001',
 'DDC001',
 'MWT003',
 'BKF001',
 'ENB002',
 'MLG001',
 'ECVF001',
 'AAC006',
 'JBC004',
 'LSM001',
 'MLC002',
 'PHS005',
 'LMP001',
 'MMRP002',
 'ARSC002',
 'ZGP001',
 'JHT001',
 'NHF001',
 'EHT002',
 'RWC002',
 'GJK001',
 'VBH001',
 'BDH001',
 'MPRB001',
 'RRS003',
 'MHT002',
 'AHIS004',
 'CGS004',
 'ABC003',
 'PRB002',
 'LMH001',
 'GJP002',
 'ABC006',
 'CLP002',
 'KFMDT003',
 'PRS003',
 'LLS004',
 'ATG001',
 'MBS004',
 'DVC002',
 'MJH001',
 'DKBS001',
 'SKM001',
 'SKB003',
 'LRSP002',
 'CBT003',
 'CSM001',
 'ZMT001',
 'FRT002',
 'AJS001',
 'MEWC002',
 'ZDC003',
 'MADC004',
 'GSC006',
 'DWT003',
 'JSS005',
 'FTS005',
 'MVDC002',
 'YBC003',
 'CHSF001',
 'GLS003',
 'EPK001',
 'AKIIC003',
 'HHC002',
 'MLT003',
 'TPC002',
 'MHS003',
 'KHF001',
 'AHP001',
 'ENC006',
 'REH001',
 'ELP001',
 'ALM001',
 'AGS003',
 'HMK001',
 'JRIVS005',
 'OHC001',
 'ASP002',
 'HWC002',
 'HHC001',
 'RHS005',
 'MRS002',
 'GRIIIT003',
 'JCC001',
 'KYF001',
 'RAS002',
 'JTC005',
 'WOC001',
 'RLH001',
 'MCS005',
 'IWB003',
 'MNTC005',
 'IGS002',
 'MMCP001',
 'JKS002',
 'MRHC001',
 'GDB001',
 'JRC005',
 'MBPDC002',
 'BBC005',
 'SNB002',
 'TMS002',
 'MEAS005',
 'GLG001',
 'FRP001',
 'RFS002',
 'KKIP002',
 'JOCS004',
 'OBC003',
 'JVRM001',
 'JGPDS001',
 'STC003',
 'MKMS004',
 'BDT002',
 'JSS001',
 'DKB001',
 'JMB002',
 'AORP001',
 'ZGS005',
 'SCP002',
 'ASS004',
 'SHT002',
 'JCH001',
 'RRC004',
 'LWS001',
 'TSS001',
 'JWC004',
 'OTM001',
 'ERT002',
 'AGPDP001',
 'CKK001',
 'ZTC003',
 'BHC006',
 'CKB001',
 'JRC003',
 'MPF001',
 'JKS005',
 'HTH001',
 'MNBS005',
 'FBS001',
 'CAS005',
 'MCG001',
 'NHP001',
 'HSC004',
 'EPDDSK001',
 'MNRS003',
 'DWTS002',
 'HGC006',
 'THB001',
 'MMKC002',
 'AGM001',
 'VPP002',
 'LWT003',
 'KNJF001',
 'MERC001',
 'ABB001',
 'MKHF001',
 'KZS003',
 'CRC006',
 'AHIVC006',
 'LBS005',
 'RKS003',
 'MGMS004',
 'VRC004',
 'MJS003',
 'EBS003',
 'OHB002',
 'RHC005',
 'MCZS004',
 'MALB001',
 'MMC005',
 'GHK001',
 'YBS004',
 'LMF001',
 'MIWC004',
 'JTIIIS005',
 'ALC005',
 'JBC001',
 'EBB003',
 'NEB002',
 'JCC004',
 'LMS002',
 'HHG001',
 'OYS001',
 'BHT001',
 'AEC006',
 'EBC002',
 'RFIM001',
 'KRC004',
 'MMGC002',
 'DKHT001',
 'DTIIIS005',
 'BKS005',
 'FBP002',
 'ARC003',
 'ACS002',
 'RRH001',
 'LJB002',
 'JRS005',
 'MCRP001',
 'LWP002',
 'AOT003',
 'CMS003',
 'VMG001',
 'SMCG001',
 'LHMDB002',
 'JFC006',
 'KWT003',
 'LBC006',
 'EKS003',
 'MMS003',
 'KKS005',
 'ELC003',
 'RRC004',
 'CHS005',
 'MAC003',
 'MKF001',
 'ABC004',
 'MCLS001',
 'EDG001',
 'OFP001',
 'OPS002',
 'KMG001',
 'SPG001',
 'GHB001',
 'CTMDC002',
 'CDAS002',
 'DWC005',
 'CMC002',
 'AGH001',
 'MCT002',
 'MSMK001',
 'DJPC006',
 'EWK001',
 'NWS005',
 'MCOC006',
 'ATG001',
 'RSB002',
 'MMBC006',
 'HMM001',
 'SSS005',
 'MOCC004',
 'TMP002',
 'MSK001',
 'AMDH001',
 'BKB001',
 'JST002',
 'KHM001',
 'MVRB001',
 'DWS002',
 'AMKP001',
 'ARS004',
 'EKS004',
 'JHB002',
 'WCT003',
 'JLC005',
 'CSP002',
 'HCH001',
 'RZT001',
 'HKC006',
 'MRVM001',
 'CGM001',
 'KMLT003',
 'TLJC003',
 'MPG001',
 'SKT002',
 'ECIIIT003',
 'BDF001',
 'LDC002',
 'MRH001',
 'MVT001',
 'HBP002',
 'RWP001',
 'NBC002',
 'GBB002',
 'EST003',
 'MCSC001',
 'LGB002',
 'MSC005',
 'HRS001',
 'DWP002',
 'HWS004',
 'DKT002',
 'KBDDSF001',
 'JWS001',
 'MGGC002',
 'DNVT001',
 'ABVG001',
 'DFB003',
 'PSC004',
 'IHC001',
 'MRC005',
 'HMG001',
 'MGB002',
 'VCT002',
 'JAC005',
 'KRIIC005',
 'AKC005',
 'MMC003',
 'BRIIB001',
 'NAS004',
 'MLST001',
 'NGT001',
 'DRS004',
 'NHP001',
 'KWC003',
 'ABS004',
 'TOH001',
 'WPC003',
 'JSC006',
 'BRC002',
 'SHP002',
 'RSK001',
 'BMP002',
 'RHDVMS005',
 'MKBT002',
 'MBHS004',
 'MRRC006',
 'KPH001',
 'VBC004',
 'LHS004',
 'MKP001',
 'NSMDC005',
 'AHG001',
 'VRT003',
 'GGK001',
 'MFDAT002',
 'LKK001',
 'JBC003',
 'DKC005',
 'MMH001',
 'TRS002',
 'SRK001',
 'SWB003',
 'CKM001',
 'DJF001',
 'RGDDSP001',
 'DKHH001',
 'MAGS003',
 'VMS003',
 'MKHB001',
 'GRIP002',
 'FSS005',
 'MGT002',
 'KSC004',
 'KST002',
 'MIWT003',
 'MKS001',
 'WGC006',
 'KKJP001',
 'MRMCH001',
 'RFB001',
 'CSB001',
 'RGP001',
 'BMC001',
 'BSS003',
 'VHP001',
 'OGP002',
 'AHH001',
 'RLS004',
 'RBDVMB001',
 'CRF001',
 'HEC002',
 'MBDVMM001',
 'MNST002',
 'JBVC001',
 'MSORT001',
 'MRLC004',
 'CHF001',
 'MTS004',
 'JMH001',
 'ILK001',
 'KLP001',
 'CTDDSM001',
 'ZWC004',
 'SLH001',
 'KGF001',
 'JSIC005',
 'CPS005',
 'MDS001',
 'CRJS004',
 'PCP002',
 'HST003',
 'GRC004',
 'WSB003',
 'MLGT002',
 'OGC004',
 'BRF001',
 'MGPB001',
 'MJCC003',
 'SAPDC002',
 'ICG001',
 'JPDVMC005',
 'ECC003',
 'MCEB001',
 'CBDVMP002',
 'DCP001',
 'MIAB003',
 'MGT003',
 'SLB003',
 'AKC002',
 'ABS002',
 'GCT002',
 'PPC004',
 'MLB002',
 'BRK001',
 'SEMDM001',
 'TRC006',
 'AHM001',
 'HBB001',
 'ZVG001',
 'DNHS001',
 'RGC001',
 'TOKG001',
 'NPF001',
 'SOK001',
 'ASB003',
 'DMKT001',
 'MAB001',
 'EBK001',
 'KMS001',
 'KCS003',
 'ECC004',
 'ABK001',
 'MLWH001',
 'SLP002',
 'MIWB003',
 'MTKT003',
 'KPT001',
 'MWK001',
 'TBT003',
 'MDEB003',
 'DKB001',
 'AMC001',
 'AKT001',
 'WGS002',
 'PKMDP002',
 'DDBC006',
 'ROCC003',
 'JSS003',
 'MAT001',
 'ISM001',
 'EFVM001',
 'BWB003',
 'JBF001',
 'LRC004',
 'AKT002',
 'MKC005',
 'LMIIIT003',
 'AOS003',
 'BRDVMG001',
 'AMLIIC001',
 'KLH001',
 'HLP002',
 'CHT002',
 'TWM001',
 'CKG001',
 'ERT002',
 'JKM001',
 'YSC004',
 'SHC006',
 'ABS004',
 'KSH001',
 'MTMGC001',
 'ABT002',
 'ARP001',
 'ALC001',
 'AOKC006',
 'MCOCC002',
 'AGB001',
 'NHC003',
 'GCC004',
 'DBHT003',
 'SSP001',
 'LGC002',
 'DHDDSC004',
 'LRC005',
 'DHC006',
 'TSK001',
 'LPDDST003',
 'OMIVM001',
 'DDRT001',
 'MBKC002',
 'AZT001',
 'WMCG001',
 'TGT002',
 'FKMDP002',
 'ASB002',
 'ABP002',
 'SHH001',
 'KHG001',
 'PDC001',
 'LBB002',
 'LTK001',
 'MCVG001',
 'LHG001',
 'TRIIT001',
 'CBT002',
 'MDHS003',
 'BNDVMC006',
 'EKC001',
 'DCT001',
 'KLM001',
 'MRUS003',
 'VRIK001',
 'OMG001',
 'MARK001',
 'MCT001',
 'GHS002',
 'AJB003',
 'JMS003',
 'JKC002',
 'KRST001',
 'KMC003',
 'APC003',
 'CRC004',
 'LKC006',
 'MDGK001',
 'CBB001',
 'LFC005',
 'ASM001',
 'AFT001',
 'DLB002',
 'BKS004',
 'SRC001',
 'CGMDT002',
 ...]

In [69]:
df2['customer_id'] = ids
df2

,order_id,customer_id,customer_name,product_id,product_name,product_category,payment_type,qty,price,datetime,country,city,ecommerce_website_name,payment_txn_id,payment_txn_success,failure_reason
0,0,MHS001,Mitchell Harvey,S001,Shoes,A,online_banking,5895,5349.2,2022-01-01,Ecuador,West Guyton,rosemarie.biz,1d01f6c6-113a-42e8-a804-85ca39793de2,N,suspicious_txn
1,1,BLT002,Brandi Lueilwitz,T002,Table,A,upi,3530,8399.6,2022-01-02,Holy See (Vatican City State),Nienowchester,garrett.org,2bcaa48d-31e5-499c-a372-ea67118c890b,Y,NA
2,2,MDWB001,Ms. Deon Wilderman,B001,Ball,A,upi,7792,9570.0,2022-01-03,Bangladesh,Stanleytown,jairo.info,b87344e3-b617-4aec-aecb-cdd9c98ebfa5,Y,NA
3,3,EGB002,Esteban Gutmann,B002,Bacon,A,online_banking,9714,4117.7,2022-01-04,Colombia,New Zander,seth.biz,87a40b79-f9cc-4ec8-b555-2ed4ec4d53ec,N,suspicious_txn
4,4,JMS003,Joe Mayer,S003,Shirt,B,online_banking,950,4886.2,2022-01-05,Spain,Wehnerville,cloyd.name,5d3424a1-bee4-447e-9ffb-b9bc3452542e,N,wrong_info
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,MWM001,Margot Wisozk,M001,Mouse,E,upi,614,165.0,2022-05-21,Mongolia,West Christian,layla.net,4cece444-44bb-4b2a-96e6-0fc5f17e2b3c,N,suspicious_txn
9996,9996,EBB003,Efrain Blick,B003,Bike,F,card,9385,2256.1,2022-05-22,Costa Rica,Port Caitlynland,edmond.org,c780a462-5f74-4868-a038-ad9e33bd314b,N,insufficient_funds
9997,9997,CFP001,Christina Feeney,P001,Pants,B,wallet,4525,2459.1,2022-05-23,Botswana,South Kademouth,devonte.name,f6a2b6e0-b8ef-4781-88a7-33afe9da4175,N,wrong_info
9998,9998,JRT001,Jace Russel,T001,Towels,D,upi,4806,4409.6,2022-05-24,Belgium,Jarrellmouth,gonzalo.net,dea6400f-db39-48fe-b70d-69a8faf40313,Y,NA
9999,9999,MDBP002,Ms. Destin Bradtke,P002,Pizza,F,upi,4493,1387.5,2022-05-25,Guernsey,Dickibury,nedra.biz,75e30f47-3b17-459a-9e76-19d696de3016,N,suspicious_txn

In [70]:
df2.to_csv(r'C:\Users\Justin\Desktop\my_data.csv', index=False)